body{
	margin: 0;
	padding: 0;
	background-color: Snow ;
}


header h1{
	color:#581845 ;
	margin: 5px;
	margin-bottom: 0px;
	margin-top: 8px;
	font-family: "Rubik Doodle Shadow", system-ui;

	
	
}
header{
	text-align: center;
	background-image: url(konf.webp);
}
	
	
header p{
  margin: 0px;
}

a{
	text-decoration: none;
	margin: 50px;
	font-size: 18px;
	color: MediumVioletRed	;
	font-family: "Courgette", cursive;

	
}
nav{
	margin-top: 18px;
	border-bottom: 1px solid MistyRose;
	border-top: 1px solid MistyRose;
	padding: 5px;
	background-color:Snow ;
}
main h2{
	font-family: "Lobster", sans-serif;
	color:#581845 ;
}
main p{
	font-family: "Advent Pro", sans-serif;
}
main h3{
	font-family: "Lobster", sans-serif;
	color:#581845 ;
}
.o{
	background-color: HoneyDew;
}
main img{
	width: 400px;
	height: 300px;
}
ul{
	font-family: "Advent Pro", sans-serif;
}